#My Stuff
*.log
*.aux
*.synctex.gz
*.tar.xf
*.zip
*.tar.gz
*.tar.xz
.Ds_Store
.vscode
.miscellaneous

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
